[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
	ignore = dirty
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/google/protobuf
	ignore = dirty
[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags
	ignore = dirty
[submodule "deps/glog"]
	path = deps/glog
	url = https://github.com/google/glog
	ignore = dirty
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
	ignore = dirty
[submodule "deps/libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq
	ignore = dirty
[submodule "deps/cppzmq"]
	path = deps/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "deps/czmq"]
	path = deps/czmq
	url = https://github.com/zeromq/czmq
[submodule "deps/malamute"]
	path = deps/malamute
	url = https://github.com/zeromq/malamute
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
	ignore = dirty
