[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/google/protobuf
[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags
